<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/OjaskaVRDoctor.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.ojaskalabcorp.vrdoctarapp</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: sriharsha katragadda (62W8G598RV)</string>
		<key>Team</key>
		<string>K39H8JNW83</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-09-20T08:13:17Z</date>
	<key>Name</key>
	<string>OjaskaVRDoctor</string>
	<key>SchemeName</key>
	<string>OjaskaVRDoctor</string>
</dict>
</plist>
