<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OjaskaVRDoctor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FB7D8FD8FE85493735A5B11FD6C547B096F3867D</string>
				<key>dateExpires</key>
				<string>16/09/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB7D8FD8FE85493735A5B11FD6C547B096F3867D</string>
						<key>dateExpires</key>
						<string>16/09/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K39H8JNW83</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB7D8FD8FE85493735A5B11FD6C547B096F3867D</string>
						<key>dateExpires</key>
						<string>16/09/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K39H8JNW83</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB7D8FD8FE85493735A5B11FD6C547B096F3867D</string>
						<key>dateExpires</key>
						<string>16/09/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K39H8JNW83</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K39H8JNW83.com.ojaskalabcorp.vrdoctarapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K39H8JNW83</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OjaskaVRDoctor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>91b0ab74-d336-4564-8ce4-ed347c96513a</string>
				<key>dateExpires</key>
				<string>16/09/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ojaskalabcorp.vrdoctarapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K39H8JNW83</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
